@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{box-sizing: border-box;}

body{

    font-family: 'Open Sans', Helvetica, sans-serif;
    background-color: #970043;
    margin: 0px;
    flex-direction: column;
}

h1,footer p{margin:0px;}

header{

    background-color: #ffd100;
    margin: 5px 5px 0px 5px;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main{

    display: flex;
    flex-direction: row;
}

aside{

    width: 25%;
    text-align: center;
    align-self: center;
    max-width: 100%;
}


article{

    background-color: #f2f2f2;
    overflow: auto;
    width: 50%;
    padding-bottom: 20%;

}

article img{

    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    max-width: 100%;
    
}

footer{

    background-color: #ffd100;
    text-align: center;
    padding: 10px;
    margin: 0px 5px 5px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

a{
    text-decoration: none;
    cursor: help;
}

article:hover{background-color: #970043;}
p::first-letter{ color:black; font-size: 130%;}
section a{color: #ffd100;}
section p {padding: 0px 5px 0px 5px;}
footer a{color: black; font-weight: bold;}


@media screen and (min-width: 768px){

    body{

        display: flex;
        flex-direction: column;
    }
    
}