/*
*{

    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{ 

    font-family: 'Open Sans', Helvetica, sans-serif;
    background-color: #970043;
}

article{

    width: 50%;
    background-color: #f2f2f2;
}

article img {

    border-radius: 10px;
    max-width: 100%;
    padding-bottom: 10px;
}

aside, .aside_right{

    width:25%;
}

aside img{

    max-width: 100%;
}
*/



@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
    
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-background-size: cover; /* Compatibilidad navegador Safari */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #970043;
}

*{

    box-sizing: border-box;
}

body{
    margin:0px;
    padding:0px;

}

header{ /*Estilo encabezado*/

    display:flex;
    font-weight:bolder; 
    text-align: center;
    font-size: 30px;
    margin: 10px 10px 0px 10px;
    background-color: #ffd100;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}


aside{/*Estilo del lateral izquierdo*/
    
    display: flex;
    width: 25%;
    height: auto;
   
}

article{

    width: 50%;
    height: auto;
    background-color: #f2f2f2;
    overflow: auto;
    
}

.aside_right{

    display: flex;
    width: 25%;
    height: auto;    
}


.img_centro{
    
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 100%;

}

.img{

    max-width: 100%;

}

a{

    text-decoration: none;
    color: black;
}

.a_main{color: #ffd100;}


p::first-letter{

    font-size: 100%;
    font-weight: bold;
    color: black;


}


footer{

    text-align: center;
    background-color: #ffd100;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px 10px 0px 10px;

}

@media screen and (min-width) {

    aside{

        flex: 25%;
    }

    article{flex:50%;}

    .aside_right{ flex: 25%;}
    
}



