*{box-sizing: border-box;}

body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(52, 49, 49);
    padding: 1rem;
    margin: 0px;
}

.caja_padre{

    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1170px;
    margin: auto;
    box-shadow:
    0 0 0 2em #6b6566,
}



.caja_datos{
    
    color: white;
    background-color: rgb(11, 76, 26);


}

div{padding: 1em;}


form{ 
    display: grid;
    grid-template-columns: auto auto;
    grid-row: 10% 10% 10% 50% 20%;
    padding: 1em;
}

input{height: 100%;}



.caja_formulario input,textarea{

    width: 100%;
    border: 1px solid black;
}
.caja_formulario input:focus {

    border: 3px solid gold;
}

.caja_formulario textarea:focus {

    border: 3px solid gold;
}

.caja_formulario #enviar{

    background-color: rgb(11, 76, 26);
    color: white;
}
.caja_formulario #enviar:hover{

    opacity: 90%;
}

.caja_formulario #enviar:focus{

    opacity: 90%;
}



.titulo{grid-area: 'titulo'; grid-column: 1 / span 2;}
.item1{grid-area: 'nombre';}
.item2{grid-area: 'apellidos';}
.item3{grid-area: 'email';}
.item4{grid-area: 'asunto';}
.item5{grid-area: 'mensaje'; grid-column: 1 / span 2;}
.enviar{
    grid-area: 'enviar'; 
    grid-column: 1 / span 2;
    width: 100%;
}

@media  screen and (max-width:700px) {

    body{

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(52, 49, 49);
        margin: 0px;
    }

    .caja_padre{

        display: flex;
        flex-direction: column-reverse;
        max-width: 1170px;
        margin-right: auto;
        margin-left: auto;

    }

    div{padding: 2em;}

    .caja_datos{

        color: white;
        background-color: rgb(11, 76, 26);
        order: 1;
    
    }

    form{ 
        display: grid;
        grid-template-columns: auto auto;
        grid-row: 10% 10% 10% 50% 20%;
        order: 2;
    }
    
}